body {
    margin: 0;
    padding: 0;

}

p {
    margin: 0;
}

.container {
    padding: 8px;
}

.comment {
    padding: 8px;
}

.comment:nth-child(odd) {
    background-color: aliceblue;
}

.comment:nth-child(even) {
    background-color: rgb(252, 252, 213);
}

.buttons-block {
    padding: 8px;
}

.btn {
    width: 31px;
    margin: 2px;
    cursor: pointer;
}